nav {
    width: 100%;
    background-color: lightgray;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

a { 
    color: black;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

a:hover { 
    font-weight: 800;
    color: white;
}

.active {
    color: black;
}

.home-link { color: black; }